/* styles/Login.module.css */
.container {
  max-width: 30rem;
  margin: 20px auto;
  padding: 30px;
  height: 94vh;
  /* background: linear-gradient(to right, #ff4e50, #f9d423); */
  border-radius: 17px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.975);
  transition: box-shadow 0.3s ease-in-out;
}

.heading {
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
  border-bottom: 2px dotted black;

}

.frm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.frm label {
  color: #000000;
  justify-content: center;
  align-items: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.frm input {
  padding: 20px;
  margin: 10px;
  width: 100%;
  border: 1px solid #c0adad;
  /* border-radius: 4px; */
  outline: none;
  transition: border-color 0.2s ease-in-out; /* Add transition property */
  border-radius: 13px;
  max-width: 100%;
}

/* Hover and focus styles */
.frm input:hover,.frm input:focus {
  border-color: #000000;
  border-radius: 16px;
  border-width: 3px; /* Corrected border property */
}

.frm button {
  background-color: #0044ff;
  color: #fff;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.frm button:hover {
  background-color: #00ff0d;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .container {
    max-width: 100%;
    box-shadow: none;
  }

  .frm {
    gap: 5rem;
  }
}
