/* Assuming these are global styles */
/* .body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
} */

/* Header styling */
.heading {
  text-align: center;
  margin-top: 20px;
  color: #060606;
}

.heading h1 {
  font-size: 2em;
}

/* Main content styling */
.content {
  max-width: 800px;
  height: 50vh;
  margin: 25px auto;
  background-color: transparent; /* Semi-transparent white background for better readability */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px); /* Adjust the blur amount as needed */
}

/* Table row styling */
.table {
  width: 100%;
  /* border-collapse: collapse; */
  margin-top: 20px;
  /* border: none; */
}

.rows {
  padding: 10px;
  margin: 10px 0;
  font-size: 1.2em;
  color: #000000;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

.rows:hover {
  transform: scale(1.03);
}

/* Additional styling for better readability */
.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Responsive styling for smaller screens */
@media (max-width: 600px) {
  .content {
    max-width: 100%;
    padding: 10px;
  }

  .table {
    width: 100%;
    margin-top: 10px;
  }
}
