/* Gradient Background for Body */
.body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #43ddf1, #ffffff);
}

/* =====header css==== */
.akhuheader {
  padding: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  padding: 0;
  margin: 0;
  transition: background 0.5s ease-in-out;
  backdrop-filter: blur(6px); /* Add backdrop filter for blur effect */
  background-color:transparent; /* Add a semi-transparent background color for better visibility */
}

/* =====logo css==== */
.logo {
  flex: 15%;
  display: flex;
  font-size: larger;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* =======navbar css======= */
.mainnav ul {
  display: flex;
  flex: 70%;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 50px;
  transition: all 0.3s ease-in-out;
}

/* .mainnav {
    border: 2px solid rgb(66, 66, 12);
} */

.mainnav ul {
  padding: 0;
  margin: 0;
}

.mainnav ul li {
  list-style: none;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.strong {
  align-items: center;
  justify-content: center;
}

/* =====search css==== */
.search {
  flex: 15%;
  display: flex;
  font-size: larger;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Responsive Media Queries */
@media screen and (max-width: 768px) {
  .akhuheader {
    flex-direction: column;
    align-items: center;
  }

  .logo,
  .mainnav ul,
  .search {
    flex: 100%;
  }

  .mainnav ul {
    margin: 20px;
  }

  .mainnav ul li {
    margin: 10px;
  }

  .search {
    padding: 20px 10px;
  }
}
