

/* =====header css==== */
.akhuheader {
  /* border: 2px solid red; */
  /* padding: 15px; */
  text-align: center;
  font-family: 'Roboto', sans-serif;  
  display: flex;
  padding: 0;
  margin: 0;
  transition: background 0.5s ease-in-out;
  backdrop-filter: blur(6px); /* Add backdrop filter for blur effect */
  background-color:transparent; /* Add a semi-transparent background color for better visibility */
}

/* =====logo css==== */
/* =====logo css==== */
.logo {
  flex: 30%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.lg {
  font-size: 24px; /* Adjust font size */
  font-weight: bold; /* Add font weight for emphasis */
  text-transform: uppercase; /* Convert text to uppercase */
  text-decoration: none; /* Remove underline */
  color: #333; /* Change text color */
  transition: all 0.3s ease-in-out;
}

.lg:hover {
  /* color: #47ffdd;   */
  transform: scale(1.1); /* Add a slight scale effect on hover */
}

/* Add a subtle shadow effect to the logo */
.logo:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Optional: Add a background color or gradient */
.lg {
  background: linear-gradient(135deg, #000000, #00ffcc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Optional: Add a border radius to create a pill shape */
.lg {
  border-radius: 20px;
  padding: 10px 20px;
}

/* Optional: Adjust spacing */
.logo {
  margin-left: 20px; /* Add some space between the logo and other elements */
}


/* =======navbar css======= */
.mainnav ul {
  display: flex;
  flex: 70%;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 50px;
  transition: all 0.3s ease-in-out;
}

/* .mainnav {
} */

.mainnav ul {
  
  /* border: 2px solid rgb(66, 66, 12); */
  padding: 0;
  margin: 0;
}

.mainnav ul li {
  list-style: none;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.strong {
  align-items: center;
  justify-content: center;
}

/* =====search css==== */
.search {
  flex: 15%;
  display: flex;
  font-size: larger;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Responsive Media Queries */
@media screen and (max-width: 768px) {
  .akhuheader {
    flex-direction: column;
    align-items: center;
  }

  .logo,
  .mainnav ul,
  .search {
    flex: 100%;
  }

  .mainnav ul {
    margin: 20px;
  }

  .mainnav ul li {
    margin: 10px;
  }

  .search {
    padding: 20px 10px;
  }
}
